<div class="row">
  <div class="col-12">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          General Information
        </ng-template>
        Content 1
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Aircraft Information
        </ng-template>
        Content 2
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
<!--          <mat-icon class="example-tab-icon">thumb_up</mat-icon>-->
          ATA Chapter
        </ng-template>
        Content 3
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Purchase and Sales
        </ng-template>
        Content 3
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Export Information
        </ng-template>
        Content 3
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
